@model IEnumerable<TaskForBits.Models.User>
@{ 
    AjaxOptions ajaxOptions = new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Dura" };
}    
<div id="Dura">
    @Html.Partial("FilterUser", Model)
    </div>
<script>
    $(document).ready(function () {
        $("#UserID").click(function () {
            $.ajax({
                type: "post",
                url: "/Home/FilterUser?filterColumn=UserID",
                content: "html",
                dataType: "html"
                //success: function (result) {
                //    alert("ZalupaDupa");
                //}
            }).done(function () {
                $(this).addClass("done");
            });
        })
    });

</script>